<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="co.vitallabs.iHealthPlugin"
    version="1.0.0">

    <name>iHealthPlugin</name>

  <description>
    iHealth Plugin for Steroids.js
  </description>

  <asset src="www/iHealthPlugin.js" target="plugins/iHealthPlugin.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="iHealthPlugin">
        <param name="android-package" value="co.vitallabs.plugin.Ihealth" />
      </feature>
    </config-file>

    <source-file src="src/android/libs/iHealthLibrary_1.0.13.jar" target-dir="libs" />
    

    <config-file target="AndroidManifest.xml" parent="/manifest">

      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity 
         android:name="co.vitallabs.plugin.IhealthActivity" >
      </activity>
    </config-file>
    
    <source-file src="src/android/co/vitallabs/plugin/Ihealth.java"
                 target-dir="src/co/vitallabs/plugin" />

    <source-file src="src/android/co/vitallabs/plugin/IhealthActivity.java"
                 target-dir="src/co/vitallabs/plugin" />

    <service
        android:name="com.jiuan.android.sdk.ble.manager.LPCBT422Service"
        android:enabled="true" />
    <service
        android:name="com.jiuan.android.sdk.ble.manager.LPCBT43Service"
        android:enabled="true" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="iHealthPlugin" value="iHealthPlugin" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="iHealthPlugin">
        <param name="ios-package" value="iHealthPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-central</string>
        <string>external-accessory</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
      <array>
        <string>com.jiuan.P930</string>
        <string>com.jiuan.BPV20</string>
        <string>com.jiuan.BPV21</string>
      </array>
    </config-file>
    
    <header-file src="src/ios/BPHeader.h" />
    <header-file src="src/ios/BP5Controller.h" />
    <header-file src="src/ios/BP5.h" />
    <header-file src="src/ios/BP3Controller.h" />
    <header-file src="src/ios/BP3.h" />
    <header-file src="src/ios/BP7Controller.h" />
    <header-file src="src/ios/BP7.h" />
    <header-file src="src/ios/BPMacroFile.h" />
    <header-file src="src/ios/User.h" />
    <header-file src="src/ios/ABI.h" />
    <header-file src="src/ios/ABIController.h" />
    <header-file src="src/ios/iHealthPlugin.h" />
    
    <source-file src="src/ios/iHealthLibrary(1.0.6).a" framework="true"/>
    <source-file src="src/ios/iHealthPlugin.m" />

    <framework src="ExternalAccessory.framework" />
    <framework src="CoreBluetooth.framework" />
    <framework src="SystemConfiguration.framework" />
    
  </platform>
</plugin>
